html {
    box-sizing: border-box;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

.header__inner,
.trending-recipes,
.recipes {
    max-width: 1320px;
    margin: 0 auto;
    width: 90%;
    padding: 24px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2p solid #f2f2f2;
}

.header__inner>* {
    flex: 1;
}

.header__inner .header-cta,
.header__inner .menu-toggle {
    text-align: right;
}

.menu-toggle {
    appearance: none;
    border: 0;
    background: transparent;
}

.menu-toggle svg {
    width: 24px;
    height: 24px;
}

.header__inner h1 {
    margin: 0;
    font-size: 24px;
}

.header__inner .header-cta {
    display: none;
}

.header__inner nav {
    display: none;
    text-align: center;
}

.header__inner nav ul {
    display: flex;
    gap: 48px;
    list-style: none;
    padding-left: 0px;
    justify-content: center;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #423b2f;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 12x 24px;
    border-radius: 4px;
    border: 1px solid #ed7e4a;
    color: #ed7e4a;
    background: transparent;
    text-decoration: none;
    transition: color 5s ease;
}

.btn:hover {
    background: linear-gradient(to right, #f28b57, #ed7e4a);
    color: #fff;
    text-decoration: none;

}

hgroup:has(.fancy-text) {
    position: relative;
    margin-top: 48px;
}

hgroup:has(.fancy-text) h2 {
    margin: 0;
    line-height: 1;
    font-size: 48px;
    font-family: "Bodoni Moda", serif;
}

.fancy-text {
    font-family: "Oooh Baby", cursive;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: -25px;
    color: #ed7e4a;
}

.hero {
    position: relative;
    width: 100%;
    background-image: url('../img/girasole.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero hgroup {
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 190px 0;
    z-index: 1;
}


.hero hgroup h2,
.hero hgroup p {
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero hgroup h2 {
    font-size: 48px;
    font-family: "Bodoni Moda", serif;
}

.hero hgroup hr {
    width: 100px;
    height: 2px;
    background: #fff;
    border: 0;
    margin: 24px auto;
}

.hero hgroup p{
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}

hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

}

.recipe-card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f4f4f4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    overflow: hidden;
}

.recipes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    list-style: none;
    padding-left: 0;
}

.recipe-card svg{
    width: 24px;
}

.recipe-card .recipe-card__image{
    aspect-ratio: 16/9;
}

.recipe-card .recipe-card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card .recipe-card__text{
    padding:  24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

c > *{
    margin: 0;
}

.recipe-card .recipe-card__text .recipe-category{
    display: inline-block;
    background: #ed7e4a;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
}

.recipe-card .recipe-card__text p {
    font-size: 14px;
    color: #a9a9a9;
}

.recipe-card__meta{
    border-top:  1px solid #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.star-rating{
    display: flex;
    gap: 4px;
    list-style: none;
    padding-left: 0;
    color: #528f6b;
}

.star-rating .active-star svg{
    fill: #528f6b;
}

.prep-time{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.prep-time span:first-of-type{
    font-weight: 700;
}

.prep-time span:last-of-type{
    color: #a9a9a9;
}

footer{
    text-align: center;
    padding: 24px;
    background-color: #ed7e4a;  
    color: #fff;
}

@media (min-width: 1024px) {

    .header__inner nav,
    .header__inner .header-cta {
        display: block; 
    }

    .menu-toggle {
        display: none;
    }
    .hero hgroup {
        width: 50%;
    }

}